body {
	font-family: Verdana, Sans-serif;
	background-color: #FFFFFF;
}

h1{
	 letter-spacing: 2px;
}


input{
	font-style: #fafafa;
	border-radius: 5%;
}

#area{
	border-radius: 7%;	
}

#enterButton{
	border-radius: 10%;		
}
.essential{
	font-family: "Courier New", monospace;
	font-size: 1px;
	overflow: hidden;
	white-space: pre;
}

canvas {
	display: block;
	margin: 0 auto 0 auto;
}