body {
	font-family: Verdana, Sans-serif;
	background-color: #FFFFFF;
}

h1{
	 letter-spacing: 2px;
}
form{
	margin: 0 auto 0 auto;
	border-radius: 5%;
}

input{
	font-style: #fafafa;
	border-radius: 5%;
}

.essential{
	font-family: "Courier New", monospace;
	font-size: 1px;
	overflow: hidden;
	white-space: pre;
}

canvas {
	display: block;
	margin: 0 auto 0 auto;
}