body {
	font-family: Verdana, Sans-serif;
	background-color: #FFFFFF;
}

#welcome {
	margin: 0 auto 0 auto;
	text-align: center;
}
#joinTeam{
	margin: 0 auto 0 auto;
	text-align: center;
}
#form_content{
	display: inline-block;
    	margin: 0 auto; 	
}
#joinTeamContent{
	display: inline-block;
    	margin: 0 auto;
}
#button {
	height: 20px;
	width: 100px;
	font-size: 16px;
}


h1{
	 letter-spacing: 2px;
}


input{
	font-style: #fafafa;
	border-radius: 5%;
}

#area{
	border-radius: 7%;	
}

#enterButton{
	border-radius: 10%;		
}
#essential{
	font-family: "Courier New", monospace;
	font-size: 1vw;
	overflow: hidden;
	white-space: pre;
	display: inline-block;
}


canvas {
	display: block;
	margin: 0 auto 0 auto;
}